@font-face {
    font-family: Castellar;
}

@font-face {
    font-family: 'CoffeeTin';
    src: url("font/CoffeetinInitials-YXJ2.ttf");
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body{
    magin:0;
    background: forestgreen radial-gradient(forestgreen, darkgreen);
}

input[type=text]:enabled {
    background: white;
}

input[type=text]:disabled {
    background: #dddddd;
}

button:disabled,
button[disabled]{
    border: 2px solid #999999;
    background: #cccccc;
    color: #666666;
}

.game_title{
    color: white;
    font-family: CoffeeTin;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
    padding: 10px;
    margin: auto 10px auto auto;
}

.logArea{
    height: 100px;
    width: 50%;
    position: absolute;
    right: 20px;
    top: 10px;
    resize: none;
    display: none;
    background-color: limegreen;
    color: darkgreen;
    font-family: Arial;
    font-size: 1em;
    overscroll-behavior: auto;
}

.container{
    background-color: transparent;
    border-radius: 6px;
    height: 200px;
    width: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startbtn {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background: #ededed linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    border-radius:6px;
    border:1px solid #dcdcdc;
    cursor:pointer;
    color:#777777;
    font-family:Arial;
    font-size:28px;
    font-weight:bold;
    padding:16px 56px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    position: relative;
}
.startbtn:hover {
    background: #dfdfdf linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}
.startbtn:active {
    position:relative;
    top:1px;
}

.form_container{
    width: 400px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-family: Arial;
    float: right;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: white;
}

.money{
    width: 90%;
    padding: 12px;
    resize: vertical;
    float:right;
}

/* Style the submit button */
input[type=submit] {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background: #ededed linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    border-radius:6px;
    border:1px solid #dcdcdc;
    cursor:pointer;
    color:#777777;
    font-weight:bold;
    font-size: 1em;
    padding:10px 35px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    font-family:Arial;
    cursor: pointer;
    margin-top: 20px;
    float: right;
}

/* Style the container */
.form_container {
    border-radius: 5px;
    background-color: darkgreen;
    padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.button_container{
    position: relative;
    background-color: transparent;
    height: 140px;
    width: 40%;
    display: none;
}

.betAmountInput{
    width: 60%;
    padding: 6px;
    resize: vertical;
    float:right;
    position: absolute;
    top: 10px;
    left: 110px;
}

.fold_button{
    box-shadow:inset 0px 1px 0px 0px darkgreen;
    background: green linear-gradient(to bottom, green 5%, limegreen 100%);
    border-radius:6px;
    border:2px solid black;
    cursor:pointer;
    color: white;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:5px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px darkgreen;
    width: 90px;
    position: absolute;
    top: 90px;
    left: 110px;
}

.leave_button{
    box-shadow:inset 0px 1px 0px 0px darkgreen;
    background: green linear-gradient(to bottom, green 5%, limegreen 100%);
    border-radius:6px;
    border:2px solid black;
    cursor:pointer;
    color: white;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:5px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px darkgreen;
    width: 90px;
    position: absolute;
    top: 90px;
    left: 10px;
}

.call_button{
    box-shadow:inset 0px 1px 0px 0px darkgreen;
    background: green linear-gradient(to bottom, green 5%, limegreen 100%);
    border-radius:6px;
    border:2px solid black;
    cursor:pointer;
    color: white;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:5px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px darkgreen;
    width: 90px;
    position: absolute;
    top: 50px;
    left: 10px;
}

.check_button{
    box-shadow:inset 0px 1px 0px 0px darkgreen;
    background: green linear-gradient(to bottom, green 5%, limegreen 100%);
    border-radius:6px;
    border:2px solid black;
    cursor:pointer;
    color: white;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:5px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px darkgreen;
    width: 90px;
    position: absolute;
    top: 50px;
    left: 110px;
}

.bet_button{
    box-shadow:inset 0px 1px 0px 0px darkgreen;
    background: green linear-gradient(to bottom, green 5%, limegreen 100%);
    border-radius:6px;
    border:2px solid black;
    cursor:pointer;
    color: white;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:5px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px darkgreen;
    width: 90px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.phase_name{
    color: white;
    font-family: Arial;
    font-weight: normal;
    text-align: center;
    font-size: 1em;
    float: left;
    position: absolute;
    left: 5px;
    top: 5px;
}

.plate{
    background: radial-gradient(limegreen, transparent 70%);
    color: white;
    font-family: Arial;
    font-weight: normal;
    text-align: center;
    font-size: 1em;
    float: right;
    padding: 10px;
}

.deck_image{
    border: none;
    background: none;
    height: 180px;
    width: 180px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.cards_board{
    border: none;
    background-color:darkgreen;
    height: 210px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: none;
    position: relative;
}

.player_board1{
    background-color: darkgreen;
    height: 200px;
    width: 49%;
    margin-bottom: 10px;
    display: none;
    float:left;
    position: relative;
}

.player_name1{
    background: radial-gradient(limegreen, transparent 70%);
    color: white;
    font-family: Arial;
    font-weight: normal;
    text-align: center;
    font-size: 1em;
    float: left;
    padding: 10px;
}

.chips1{
    border: none;
    height: 38px;
    width: 60px;
    float: right;
}

.player_money1{
    background: radial-gradient(limegreen, transparent 70%);
    color: white;
    font-family: Arial;
    font-weight: normal;
    text-align: center;
    font-size: 1em;
    float: right;
    padding: 10px;
}

.player_board2{
    background-color: darkgreen;
    height: 200px;
    width: 49%;
    margin-bottom: 10px;
    display: none;
    float: right;
    position: relative;
}

.player_name2{
    background: radial-gradient(limegreen, transparent 70%);
    color: white;
    font-family: Arial;
    font-weight: normal;
    text-align: center;
    font-size: 1em;
    float: left;
    padding: 10px;
}

.chips2{
    border: none;
    height: 38px;
    width: 60px;
    float: right;
}

.player_money2{
    background: radial-gradient(limegreen, transparent 70%);
    color: white;
    font-family: Arial;
    font-weight: normal;
    text-align: center;
    font-size: 1em;
    float: right;
    padding: 10px;
}

.player_board3{
    background-color: darkgreen;
    height: 200px;
    width: 49%;
    margin-bottom: 10px;
    display: none;
    float:left;
    position: relative;
}

.player_name3{
    background: radial-gradient(limegreen, transparent 70%);
    color: white;
    font-family: Arial;
    font-weight: normal;
    text-align: center;
    font-size: 1em;
    margin: auto;
    float: left;
    padding: 10px;
}

.chips3{
    border: none;
    height: 38px;
    width: 60px;
    float: right;
}

.player_money3{
    background: radial-gradient(limegreen, transparent 70%);
    color: white;
    font-family: Arial;
    font-weight: normal;
    text-align: center;
    font-size: 1em;
    margin: auto;
    float: right;
    padding: 10px;
}

.player_board4{
    background-color: darkgreen;
    height: 200px;
    width: 49%;
    margin-bottom: 10px;
    display: none;
    float:right;
    position: relative;
}

.player_name4{
    background: radial-gradient(limegreen, transparent 70%);
    color: white;
    font-family: Arial;
    font-weight: normal;
    text-align: center;
    font-size: 1em;
    float: left;
    padding: 10px;
}

.chips4{
    border: none;
    height: 38px;
    width: 60px;
    float: right;
}

.player_money4{
    background: radial-gradient(limegreen, transparent 70%);
    color: white;
    font-family: Arial;
    font-weight: normal;
    text-align: center;
    font-size: 1em;
    float: right;
    padding: 10px;
}

.card_back{
    height: 150px;
    width: 110px;
    position: absolute;
    bottom: 10px;
}

.card{
    padding: 10px;
    border: solid 1px #808080;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 14pt;
    text-align: center;
    color:black;
    margin: 3px;
    object-position: center;
    height: 150px;
    width: 110px;
    bottom: 10px;
    position: absolute;
}

.card .value{
    font-size:15pt;
    font-family: sans-serif;
}

.card .suit
{
    background-image: url('img/card.png');
    height: 100px;
    width: 90px;
}

.card .diamonds
{
    background-position-y: 100px;
}

.card .hearts
{
    background-position-x: 90px;
}

.card .clubs
{
    background-position-x:90px;
    background-position-y:100px;
}